@model WellStralerWebshop.Models.ViewModels.AccountViewModel;
@{
    ViewData["Title"] = "BeheerAccount";
}

<h1>@ViewData["Settings"]</h1>
<h2>@ViewData["Information"]</h2>
<table>
    <tbody>
        <tr>
            <td>@ViewData["Company"]:</td>
            <td>@Model.Klant.Firma</td>
        </tr>
        <tr>
            <td>@ViewData["email"]:</td>
            <td>@Model.Klant.Email</td>
        </tr>
        <tr>
            <td> @ViewData["Address"]:</td>
            <td>@Model.Klant.FacturatieAdres</td>
        </tr>
    </tbody>
</table>

<form asp-controller="Account" asp-action="BeheerAccount" method="post">
    <h2>@ViewData["Change Password"]</h2>
    <table>
        <tbody>
            <tr>
                <td> <label>@ViewData["Old password"]:</label></td>
                <td><input type="password" name="oudWachtwoord" /></td>
            </tr>
            <tr>
                <td><label>@ViewData["New password"]:</label></td>
                <td><input type="password" name="nieuweWachtwoord" /><br /></td>
            </tr>
            <tr>
                <td><label>@ViewData["Repeat password"]:</label></td>
                <td><input type="password" name="herhaalWachtwoord" /><br /></td>
            </tr>
        </tbody>
    </table>
   
    
    
    
    
    
    
    <h2>@ViewData["Language"]</h2>
    <label class="control-label">@ViewData["Change language"]</label>
    <select name="taal" id="maand" size="1" asp-items="@(ViewData["talen"] as SelectList)">
        <option value="">@Model.Taal</option>
    </select>

    <h2>@ViewData["Delivery customers"]</h2>
    <table>
        <thead>
        <th>
            @ViewData["Name"]
        </th>
        <th>
            @ViewData["Address"]
        </th>
        <th>
            @ViewData["City"]
        </th>
        </thead>
        <tbody>
            @foreach (var item in Model.Klant.KlantKoppelingen)
            {
                <tr>
                    <td>@item.GekoppeldKlant.Firma</td>
                    <td>@item.GekoppeldKlant.Straat</td>
                    <td>@item.GekoppeldKlant.Postcode</td>
                </tr>
            }
        </tbody>
    </table>

    <input type="submit" value="@ViewData["Change"]" />
</form>
