@model WellStralerWebshop.Models.ViewModels.FactuurDetailViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Detail"]</h1>
<a class="btn btn-secondary" asp-area="" asp-controller="Invoice" asp-action="Index">@ViewData["Back"]</a>
<a class="btn btn-secondary" asp-area="" asp-controller="Product" asp-action="Index">@ViewData["Home"]</a>
<p>@ViewData["InvoiceId"]: @Model.Factuur.FactuurNummer</p> <p>@ViewData["Total amount"] € @Model.Totaalbedrag</p>
<br />
<p>@ViewData["Date"]: @Model.Factuur.Datum.ToShortDateString()</p>

<table>
    <thead>
    <th>
        @ViewData["Shipping note"]
    </th>
    <th>
        @ViewData["Number"]
    </th>
    <th>
        @ViewData["Description"]
    </th>
    <th>
        @ViewData["Serial number"]
    </th>
    <th>
        @ViewData["Price per"]
    </th>
    <th>
        @ViewData["Amountt"]
    </th>
    </thead>
    <tbody>
        @foreach (var item in Model.Factuur.FactuurLijnen)
        {
            <tr>
                <td>@item.ZendNummer</td>
                <td>@item.Aantal</td>
                <td>@item.ProductOmschrijving</td>
                <td>@item.SerieNummer</td>
                <td>@item.Prijs</td>
                <td>
                    @{
                        var prijs = @item.Prijs * @item.Aantal;
                }
                @prijs
            </td>
        </tr>
    }

    </tbody>
</table>