@model WellStralerWebshop.Models.ViewModels.FactuurViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Invoice"]</h1>

<div>

    <form asp-controller="Invoice" asp-action="Index">
        <label>@ViewData["Product"]</label>
        <input type="text" name="productNaam" value="@Model.ProductNaam" />
        <br />
        <label>@ViewData["InvoiceId"]</label>
        <input type="text" name="factuurNr" value="@Model.FactuurNr" />
        <br />
        <label>@ViewData["Date"]</label><br />
        <label>@ViewData["From"]</label>
        @if (Model.VanDatum != null)
        {
            <p>@Model.VanDatum.Value.ToShortDateString()</p>
            <input type="date" name="vanDatum" value="@Model.VanDatum.Value " />
        }
        else
        {
            <input type="date" name="vanDatum" value="@Model.VanDatum " />
        }

        <br />
        <label>@ViewData["To"]</label>
        <input type="date" name="totDatum" value="@Model.TotDatum" />
        <br />
        <label>@ViewData["Dispatch note"]</label>
        <input type="text" name="zendNotaNr" value="@Model.ZendNotaNr" />
        <br />
        <label>@ViewData["Serial Number"]</label>
        <input type="text" name="serienummer" value="@Model.Serienummer" />
        <br />

        <input type="submit" value="@ViewData["Filter"]"/>

    </form>

    <table>
        <tr>
            <th>@ViewData["InvoiceId"]</th>
            <th>@ViewData["Date"]</th>
            <th>@ViewData["Delivered to"]</th>
            <th>@ViewData["Total amount"]</th>
            <th>@ViewData["Detail"]</th>
        </tr>

        @foreach (var factuur in Model.Facturen)
        {
            <tr>
                <a>
                    <td> @factuur.FactuurNummer</td>
                    <td>
                        @factuur.Datum.ToShortDateString()
                    </td>

                    @if (factuur.LeverKlant != null)
                    {
                        <td>
                            @factuur.LeverKlant.Firma
                        </td>
                    }
                    else
                    {
                        <td>
                            @factuur.KlantFirma
                        </td>
                    }
                    <td>
                        @factuur.
                    </td>
                    @{
                        decimal prijs = 0;
                        foreach (var lijn in factuur.FactuurLijnen)
                        {
                            prijs = prijs + lijn.Prijs * lijn.Aantal;
                        }
                    }

                    <td>
                        € @prijs
                    </td>


                    <td>
                        <a asp-controller="Invoice" asp-action="Details" asp-route-id="@factuur.Id">@ViewData["View Details"]</a>
                    </td>
                </a>

            </tr>
        }

    </table>

</div>