@model WellStralerWebshop.Models.ViewModels.BestellingViewModel
@{
    ViewData["Title"] = "GeefOrders";
}

<h1>@ViewData["Orders"]</h1>



@if (Model.OnlineBestellingen != null)
{
    @if (Model.OnlineBestellingen.Count() > 0)
    {
        <h2>@ViewData["Orders not yet processed"]</h2>
        <table>
            <thead>
            <th>
                @ViewData["OrderID"]
            </th>
            <th>
                @ViewData["Date"]
            </th>
            <th>
                @ViewData["Delivered To"]
            </th>
            <th>
                @ViewData["Total amount"]
            </th>
            <th>
                @ViewData["View Details"]
            </th>
            </thead>
            <tbody>
                @foreach (var item in Model.OnlineBestellingen)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Datum.ToShortDateString()
                        </td>
                        <td>
                            @item.LeverKlant.Firma
                        </td>
                        <td>
                            @item.OnlineBesltelLijnen.Sum(m => m.Prijs * m.Aantal)
                        </td>
                        <td>
                            <a asp-controller="Order" asp-action="GeefOnlineOrderDetails" asp-route-id="@item.Id">@ViewData["View Details"]</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    }
}


<div>
    <h2>Bestellingen in verwerking</h2>
    <form asp-controller="Order" asp-action="GeefOrders">
        <label>Product</label>
        <input type="text" name="productNaam" value="" />
        <br />
        <label>Datum</label><br />
        <label>Van</label>
        <input type="date" name="vanDatum" value=" " />
        <br />
        <label>Tot</label>
        <input type="date" name="totDatum" value="" />
        <br />
        <label>Leveradres</label>
        <input type="text" name="leverAdres" value="" />
        <br />
        <label>Geleverd?</label>
        <br />
        <input type="radio" name="geleverd" value="2" />
        <label> Ja</label>
        <br />
        <input type="radio" name="geleverd" value="1" />
        <label>nee</label>
        <br />
        <input type="radio" name="geleverd" value="3" />
        <label>Alle</label>
        <br />

        <input type="submit" value="Filter" />

    </form>

    @if (Model.Bestellingen == null)
    {
        <p>Voer het filter uit</p>
    }
    else
    {

        <table>
            <tr>
                <th> @ViewData["OrderID"]</th>
                <th>
                    @ViewData["Date"]
                </th>
                <th>@ViewData["Delivered To"] </th>
                <th> @ViewData["Total amount"] </th>
                <th> @ViewData["Processed"] </th>
                <th>@ViewData["View Details"] </th>
            </tr>

            @foreach (var bestelling in Model.Bestellingen)
            {
                <tr>
                    <a>
                        <td> @bestelling.Id</td>
                        <td>
                            @bestelling.Datum.ToShortDateString()
                        </td>
                        <td>
                            @bestelling.KlantLeverFirma
                        </td>
                        @if (bestelling.Afgewerkt == 1)
                        {
                            <td>
                                Afgewerkt
                            </td>
                        }
                        else
                        {
                            <td>
                                Nog niet afgewerkt
                            </td>
                        }

                        @{
                            decimal prijs = 0;
                            foreach (var lijn in bestelling.Bestelijnen)
                            {
                                prijs = prijs + lijn.Prijs * lijn.Aantal;
                            }
                        }
                        <td>
                            € @prijs
                        </td>
                        <td>
                            <a asp-controller="Order" asp-action="GeefBestellingDetail" asp-route-id="@bestelling.Id">Details</a>
                        </td>
                    </a>

                </tr>
            }

        </table>
    }

</div>


