@model IEnumerable<WellStralerWebshop.Models.Domain.OnlineBestelLijn>

@{
    ViewData["Title"] = "Index";
}

<h1>WinkelMand</h1>

<form asp-controller="Order">
    <table>

        <tr>
            <th>Prod</th>
            <th>Omschrijving</th>
            <th>Prijs</th>
            <th>Aantal</th>
            <th>Del</th>
        </tr>



        @foreach (var bestellijn in Model)
        {

            @if (bestellijn.HoofdProdBestelLijnId == 0)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>@bestellijn.Product.Afk</td>
                    <td>@bestellijn.Product.OmschrijvingNL</td>
                    <td>@bestellijn.Product.Prijs</td>
                    <td>@bestellijn.Aantal</td>

                    <td>
                        <input type="submit" asp-action="Remove" asp-route-id="@bestellijn.Id" value="Verwijder" />
                    </td>

                </tr>
            }
            else
            {
                <tr>
                    <td>+ @bestellijn.Product.Afk</td>
                    <td>@bestellijn.Product.OmschrijvingNL</td>
                    <td>@bestellijn.Product.Prijs</td>
                    <td>@bestellijn.Aantal</td>

                </tr>
            }

        }


    </table>

    <h2>Totaal prijs zonder korting = @TempData["TotaalPrijsZonderKorting"]</h2>

    <input type="submit" formmethod="get" asp-action="MaakOrder" value="Bestelling Afwerken" />

</form>