@model IEnumerable<WellStralerWebshop.Models.Domain.OnlineBestelLijn>

@{
    ViewData["Title"] = "Index";
}

<h1>WinkelMand</h1>

<form asp-controller="Order">
    <table>

        <tr>
            <th>@ViewData["Prod"]</th>
            <th>@ViewData["Description"]</th>
            <th>@ViewData["Price"]</th>
            <th>@ViewData["Amount"]</th>
            <th>@ViewData["Delete"]</th>
        </tr>



        @foreach (var bestellijn in Model)
        {

            @if (bestellijn.HoofdProdBestelLijnId == 0)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>@bestellijn.Product.Afk</td>
                    <td>
                        @if (ViewData["Taal"].Equals("en"))
                        {
                            @bestellijn.Product.OmschrijvingEN
                        }
                        else if (ViewData["Taal"].Equals("fr"))
                        {
                            @bestellijn.Product.OmschrijvingFR
                        }
                        else
                        {
                            @bestellijn.Product.OmschrijvingNL
                        }
                    </td>
                    <td>@bestellijn.Product.Prijs</td>
                    <td>@bestellijn.Aantal</td>

                    <td>
                        <input type="submit" asp-action="Remove" asp-route-id="@bestellijn.Id" value="@ViewData["Delete"]" />
                    </td>

                </tr>
            }
            else
            {
                <tr>
                    <td>+ @bestellijn.Product.Afk</td>
                    <td>@bestellijn.Product.OmschrijvingNL</td>
                    <td>@bestellijn.Product.Prijs</td>
                    <td>@bestellijn.Aantal</td>

                </tr>
            }

        }


    </table>

    <h2>@ViewData["Total_Amount_Without_Reduction"] = @TempData["TotaalPrijsZonderKorting"] @ViewData["Euro"]</h2>

    <input type="submit" formmethod="get" asp-action="MaakOrder" value="@ViewData["Finalize_Order"]" />

</form>