@model WellStralerWebshop.Models.Domain.Product
@using WellStralerWebshop.Models.Domain;
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Afk</h1>

<ul>
    <table class="Wagentje">
        <tr>
            <th>Prod</th>
            <th>Omschrijving</th>
            <th>prijs</th>
        </tr>
        <tr id="0">
            <td>@Model.Afk</td>
            <td>@Model.OmschrijvingNL</td>
            <td>@Model.Prijs</td>
        </tr>

    </table>
</ul>

@if (Model.productKoppelingen.Count == 0)
{

}
else
{
<div class="carousel-inner">
    <div class="carousel-item active">
        @foreach (List<ProductKoppeling> lijst in Model.lijstBijProducten())
        {
            <table> 
                @foreach (ProductKoppeling item in lijst)
                {
                    <tr>
                        <input type="radio" id="age1" name="id" value="@item.GekoppeldProdId">
                        <td> @item.GekoppeldProduct.OmschrijvingNL</td>
                    </tr>
                }
            </table>
        }

    </div>
    <div class="carousel-item">
        <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
        <img src="ny.jpg" alt="New York" width="1100" height="500">
    </div>
</div>
}
