@model WellStralerWebshop.Models.ViewModels.ProductDetailViewModel;
@using WellStralerWebshop.Models.Domain;
@using System.Text.Json;
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.geselecteerdeProducten.ElementAt(0).OmschrijvingNL</h1>
<form asp-controller="Product">
    <ul>
        <table class="Wagentje">
            <tr>
                <th>Prod</th>
                <th>Omschrijving</th>
                <th>prijs</th>
            </tr>

            @foreach (var item in Model.geselecteerdeProducten)
            {
                <tr id="0">
                    <td><input type="checkbox" checked disabled name="selectedProds" id="@item.Id" value="@item.Id" /> </td>
                    <td>@item.OmschrijvingNL</td>
                    <td>@item.Prijs</td>
                </tr>
            }


        </table>
    </ul>

    @if (Model.productKoppelingen == null)
    {

    }
    else
    {
        <p>@string.Format(Model.showIndex + "/" + Model.showMax)</p>
        <p>Prijs= @TempData["NormalePrijs"]</p>
        <table>
            <thead>
                <tr>
                    <th>Box</th>
                    <th>ID</th>
                    <th>Naam</th>
                    <th>Prijs</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.productKoppelingen.ElementAt(Model.index).ElementAt(0).KoppelType.Id == 3)
                {

                    @foreach (var item in Model.productKoppelingen.ElementAt(Model.index))
                    {
                        <tr>
                            @if (Model.geselecteerdeProducten.Select(m => m.Id).Contains(item.GekoppeldProdId))
                            {
                                <td><input type="radio" id="@item.GekoppeldProdId" name="productId" value="@item.GekoppeldProdId" checked /></td>
                            }
                            else
                            {
                                <td><input type="radio" id="@item.GekoppeldProdId" name="productId" value="@item.GekoppeldProdId" /></td>
                            }

                            <td> @item.GekoppeldProdId</td>
                            <td> @item.GekoppeldProduct.OmschrijvingNL</td>
                            <td> @item.GekoppeldProduct.Prijs</td>
                        </tr>
                    }


                }
                else if (Model.productKoppelingen.ElementAt(Model.index).ElementAt(0).KoppelType.Id == 2 ||
                    Model.productKoppelingen.ElementAt(Model.index).ElementAt(0).KoppelType.Id == 1)
                {


                    @foreach (var item in Model.productKoppelingen.ElementAt(Model.index))
                    {
                        <tr>
                            @if (item.KoppelType.Id == 1)
                            {
                                <td><input type="checkbox" id="@item.GekoppeldProdId" name="productId" value="@item.GekoppeldProdId" checked disabled /></td>

                            }
                            else
                            {
                                @if (Model.geselecteerdeProducten.Select(m => m.Id).Contains(item.GekoppeldProdId))
                                {
                                    <td><input type="checkbox" id="@item.GekoppeldProdId" name="productId" value="@item.GekoppeldProdId" checked /></td>
                                }
                                else
                                {
                                    <td><input type="checkbox" id="@item.GekoppeldProdId" name="productId" value="@item.GekoppeldProdId" /></td>
                                }
                            }



                            <td> @item.Id</td>
                            <td> @item.GekoppeldProduct.OmschrijvingNL</td>
                        </tr>
                    }

                }
                <tr>
                    @if (Model.index > 0)
                    {
                        <td><input type="submit" asp-action="Vorige" value="Vorige" asp-route-selectedProds="@String.Format(Model.index + "," + string.Join(",", @Model.geselecteerdeProducten.Select(m => m.Id).ToList())) " /></td>

                    }
                    @if (Model.index == Model.max || Model.index == 0)
                    {
                        <td><input type="submit" asp-action="Wijzig" value="Wijzig" asp-route-selectedProds="@String.Format(Model.index + "," + string.Join(",", @Model.geselecteerdeProducten.Select(m => m.Id).ToList())) " /></td>

                    }
                    @if (Model.index < Model.max)
                    {
                        <td><input type="submit" asp-action="Volgende" value="Volgende" asp-route-selectedProds="@String.Format(Model.index + "," + string.Join(",", @Model.geselecteerdeProducten.Select(m => m.Id).ToList())) " /></td>

                    }
                </tr>

            </tbody>
        </table>
    }


</form>

